.carousel{
	display: flex;
	justify-content: center;
}
.photo{
	background-size: cover;
	transition: all 0.5s;
}
.center{
	height: 83vh;
	min-width: 330px;
	animation: enlarge-to-center 0.5s linear;
	animation-fill-mode: forwards;
}
	@keyframes enlarge-to-center {
		from{	//width: 27vw;
				// height:	60vh;
			}
		to{		//width: 41vw;
				// height: 83vh;
				box-shadow: 8px 8px 4px 2px rgba(0, 0, 0, 0.8);
			}
	}
.left, .right{
	position: absolute;
	margin: 12vh 2px 0 2px;
	height: 60vh;
	width: 27vw;
	z-index: -1;
}

.farLeft, .farRight{
	position: absolute;
	margin-top: 30vh;
    height: 0vh;
	width: 0vw;
	z-index: -2;
}
.farLeft{
	left: 0px;
}
.farRight{
	right: 0px;
}
.left{
	left: 2vw;
}
.right{
	right: 2vw;
}
.hidden{
	display: none;
}

.photo1{
	background-image: url("../img/city-16x9-500w.jpg");
}
.photo2{
	background-image: url("../img/kids-16x9-500w.jpg");
}
.photo3{
	background-image: url("../img/dance-16x9-500w.jpg");
}
.photo4{
	background-image: url("../img/portrait-16x9-500w.jpg");
}
.photo5{
	background-image: url("../img/city-16x9-500w-2.jpg");
}
.photo6{
	background-image: url("../img/portrait-16x9-500w-2.jpg");
}
.photo7{
	background-image: url("../img/dance-16x9-500w-2.jpg");
}
.photo8{
	background-image: url("../img/portrait-16x9-500w-3.jpg");
}
.photo9{
	background-image: url("../img/kids-16x9-500w-3.jpg");
}
.photo10{
	background-image: url("../img/nature-16x9-500w-3.jpg");
}
.photo11{
	background-image: url("../img/wedding-16x9-500w.jpg");
}
.photo12{
	background-image: url("../img/kids-16x9-500w-2.jpg");
}
.photo13{
	background-image: url("../img/nature-16x9-500w-2.jpg");
}
.photo14{
	background-image: url("../img/dance-16x9-500w-3.jpg");
}
.photo15{
	background-image: url("../img/wedding-16x9-500w-2.jpg");
}
.photo16{
	background-image: url("../img/nature-16x9-500w.jpg");
}
.photo17{
	background-image: url("../img/kids-16x9-500w-4.jpg");
}
.photo18{
	background-image: url("../img/wedding-16x9-500w-3.jpg");
}
