*{
	box-sizing: border-box;
}

body{
	background-color: lightgrey;
}
.header{
	text-align: center;
}
.title h2{
	margin: 0;
}
.photo-container{
	height: 80%;
}
.carousel{
	height: 90%;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}
.photo{
	background-size: cover;
	height: 70vh;
	width: 37vw;
	transition: all 1s;
}
.thumbnails{
	height:10%;
}
/*.hide{
	display: none;
}*/
.center{
	margin: 0 auto;
	height: 84vh;
	width: 37vw;
	margin: 5px;
}
.left, .right{
	margin-top: 18vh;
	height: 58vh;
	width: 26vw;
}
.farLeft, .farRight{
	margin-top: 12vh;
	height: 48vh;
}
.skinny{
	width: 0vw;
}
.left{
	left: 0px;
}
.right{
	right: 0px;
}
.hidden{
	display: none;
}

.photo1{
	background-image: url("img/city-16x9-500w.jpg");
}
.photo2{
	background-image: url("img/kids-16x9-500w.jpg");
}
.photo3{
	background-image: url("img/dance-16x9-500w.jpg");
}
.photo4{
	background-image: url("img/portrait-16x9-500w.jpg");
}
.photo5{
	background-image: url("img/city-16x9-500w-2.jpg");
}
.photo6{
	background-image: url("img/portrait-16x9-500w-2.jpg");
}
.photo7{
	background-image: url("img/dance-16x9-500w-2.jpg");
}
.photo8{
	background-image: url("img/portrait-16x9-500w-3.jpg");
}
.photo9{
	background-image: url("img/kids-16x9-500w-3.jpg");
}
