*{
	box-sizing: border-box;
}

body{
	background-color: lightgrey;
}
.header{
	text-align: center;
}
.photo-container{
	height: 80%;
}
.carousel{
	height: 90%;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}
.photo{
	background-size: cover;
	height: 70vh;
	width: 37vw;
	transition: all 1s;
}
.thumbnails{
	height:10%;
}
/*.hide{
	display: none;
}*/
.center{
	height: 84vh;
	width: 37vw;
	margin: 5px;
}
.left, .right{
	margin-top: 12vh;
	height: 63vh;
	width: 28vw;
}
.farLeft, .farRight{
	height: 48vh;
	width: 21vw;
}
.skinny{
	width: 0vw;
}
.left{
}
.right{

}

.photo1{
	background-image: url("img/city-16x9-500w.jpg");
}

.photo2{
	background-image: url("img/kids-16x9-500w.jpg");
}

.photo3{
	background-image: url("img/dance-16x9-500w.jpg");
}
.photo4{
	background-image: url("img/portrait-16x9-500w.jpg");
}
.photo5{
	background-image: url("img/city-16x9-500w-2.jpg");
}
.photo6{
	background-image: url("img/kids-16x9-500w-2.jpg");
}
